

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    /* display: flex;
    flex-direction: column; */
}
.header, .about{
    background-color: #1F2937;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 250px;
    align-items: center;
}

.header ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.logo h1{
    font-size: 24px;
    color: #f9faf8;
}

.about{
    flex: 1;
    display: flex;
    padding: 100px 250px;
    gap: 80px;
}
.info_img img{
    width: 450px;
    height: 300px;
}

.info h1{
    font-size: 48px;
    color: #f9faf8;
}

.info p{
    margin-top: 15px;
    color: #e5e7eb;
    font-size : 18px;
}

.info button{
    font-weight: 700;
    margin-top: 20px;
    background-color: #3882f6;
    color: white;
    padding: 10px 30px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_names{
    display: flex;
    padding: 0 250px;
    justify-content: space-between;
}

.project_names .box{
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6; /* Border with 9px width and black color */
    border-radius: 10px; /* Adjust the radius as needed */
}

.project_names .name{
    width: 150px;
}